.lm-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 700px;
    width: 90%;
    z-index: 9999;
    display: block;
    color: black;
}

.lm-popup-header {
    background-color: #333;
    color: white;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lm-popup-title {
    color: white;
}

.lm-popup-close {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.lm-popup-content {
    padding: 20px;
}

.lm-popup-rating {
    margin-top: 20px;
}

.lm-popup-stars {
    font-size: 24px;
    color: #ccc;
}

.lm-popup-star.filled {
    color: gold;
}

.lm-popup-rating-detail {
    margin-top: 10px;
    font-style: italic;
}